stages:
  - build

build:
  stage: build
  image: binkhq/python:3.8
  script:
    - apt update
    - DEBIAN_FRONTEND=noninteractive apt install -y curl gcc libssl-dev pkg-config
    - curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain nightly -y
    - pip install maturin twine
    - PATH=~/.cargo/bin:$PATH maturin build --release --bindings cffi --manylinux off --out dist
    - twine check dist/*
    - twine upload --non-interactive --disable-progress-bar --repository-url https://pypi.tools.bink.sh/simple/ dist/*
  only:
    - master
