stages:
  - build

build:
  stage: build
  image: binkhq/python:3.8
  script:
    - apt update
    - apt install -y curl
    - curl -sSLo rustup https://static.rust-lang.org/rustup/dist/x86_64-unknown-linux-gnu/rustup-init
    - chmod +x rustup
    - ./rustup toolchain install nightly
    - pip install maturin twine
    - maturin build
    - twine check dist/*
    - twine upload --non-interactive --disable-progress-bar --repository-url https://pypi.tools.bink.sh/simple/ dist/*
  only:
    - master
