stages:
  - build

build-3.7:
  stage: build
  image: ghcr.io/binkhq/python:3.7-pyo3
  script:
    - maturin build --no-sdist --release --manylinux off --out dist
    - maturin upload -u gitlab-ci-token -p ${CI_JOB_TOKEN} -r https://git.bink.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  only:
    - master

build-3.8:
  stage: build
  image: ghcr.io/binkhq/python:3.8-pyo3
  script:
    - maturin build --no-sdist --release --manylinux off --out dist
    - maturin upload -u gitlab-ci-token -p ${CI_JOB_TOKEN} -r https://git.bink.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  only:
    - master

build-3.9:
  stage: build
  image: ghcr.io/binkhq/python:3.9-pyo3
  script:
    - maturin build --release --manylinux off --out dist
    - maturin upload -u gitlab-ci-token -p ${CI_JOB_TOKEN} -r https://git.bink.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  only:
    - master
